.category-cards {
  margin-top: rem(-16px);
  padding: rem(45px) 0;
  text-align: center;

  &__heading {
    padding-bottom: rem(20px);
  }

  &__title {
    @extend %h1;

    color: $rose-2;
    display: inline-block;
    padding: rem(2px) rem(6px);
  }
}
