.featured-products {
  background-color: $white;
  border-bottom: rem(1px) solid $gold;
  border-top: rem(1px) solid $gold;
  margin: rem(16px) auto rem(20px);
  padding: rem(30px) rem(16px);

  &__content {
    padding: rem(25px) 0;
    text-align: center;

    @include from(l) {
      padding: rem(40px) 0;
    }

    h2 {
      color: $black;
      margin-bottom: rem(20px);
    }

    p {
      color: $text;
      display: block;
      max-width: rem(870px);
      margin: 0 auto rem(16px);
      text-align: center;
    }
  }
}
