.follow-us {
  align-items: center;
  background-color: $coffee;
  padding: rem(16px);
  text-align: center;

  &__text {
    text-align: center;
  }

  &__link {
    color: $white;
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;

    &:hover {
      color: $gold;
    }

    &--small {
      i.fab {
        font-size: rem(20px);
      }
    }
  }

  i {
    background-color: $black;
    border-radius: 100%;
    display: inline-block;
    margin-right: rem(16px);
    font-size: rem(30px);
    height: rem(45px);
    line-height: rem(45px);
    text-align: center;
    width: rem(45px);
  }
}
