.main-slider {
  position: relative;

  &__item {
    display: block;
    height: 102%;
    position: relative;
  }

  &__image {
    display: block;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__caption {
    background-color: rgba($gold-dk, 0.7);
    color: $white;
    display: block;
    padding: rem(20px);
    width: 100%;

    @include from(l) {
      @include center('vertical');

      right: 0;
      padding: rem(40px) rem(60px);
      max-width: 50%;
    }

    @include from(xl) {
      max-width: 45%;
    }

    h2 {
      @extend %eyebrow;

      line-height: 1;
    }

    h3 {
      @extend %hslider-1;

      line-height: 1;
      margin-bottom: rem(26px);
    }

    h2, h3 {
      color: $white;
    }
  }

  &__pagination {
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    @include center('horizontal');

    &__arrows {
      @include center('vertical');
      width: 100%;
    }

    &__prev,
    &__next {
      display: inline-block;
      background-color: $white;
      padding: rem(13px);
      position: absolute;
      z-index: 2;
    }

    &__next {
      margin: 0;
        right: 0;
    }

    &__prev {
      margin: 0;
      left: 0;
    }

    &__prev-icon {
      height: rem(29px);
      width: rem(38px);

      @include iconBg('../images/icons/prev-grey.svg');
    }

    &__next-icon {
      height: rem(29px);
      width: rem(38px);

      @include iconBg('../images/icons/next-grey.svg');
    }

    &__dots {
      width: 100%;

      .slick-dots {
        text-align: center;
        margin: 0;
        padding: 0 0 rem(25px);

        li {
          display: inline-block;

          button {
            background-color: rgba($white, .5);
            border: none;
            border-radius: 100%;
            margin: 0 rem(5px);
            width: rem(12px);
            height: rem(12px);
            font-size: 0;
          }

          &.slick-active {
            button {
              background-color: $white;
            }
          }
        }
      }
    }
  }
}
