body {
  .content-area {
    .woocommerce-products-header {
      border-bottom: rem(2px) solid $green_dino;
      text-align: center;

      @include from(l) {
        padding: rem(40px) 0;
      }

      &__title {
        color: $green_dino;
      }
    }
  }
}
