body {
  #sb_instagram .sb_instagram_header {
    background-color: $blue_sky;
    padding: rem(10px) 0;
    margin: 0;
    float: none;
    text-align: center;

    .sbi_header_link {
      color: $white;
      display: inline-block;
      float: none;
      margin: rem(12px) auto;
    }

    h3 {
      @extend %h2;
      font-size: rem(26px) !important;
    }
  }
}
