@font-face {
  font-family: 'Flama';
  src: url('../fonts/Flama.woff2') format('woff2'),
      url('../fonts/Flama.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Flama Bold';
  src: url('../fonts/Flama-Bold.woff2') format('woff2'),
      url('../fonts/Flama-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
