// Colors
$white: #ffffff;
$black: #000000;

// Brand Colors
$grey: #575757;
$grey-lt: #D8D8D8;
$brand-white: #f7f7f7;
$brand-bg: #77511B;
$coffee: #cdaf84;
$text: #3a2911;
$gold: #dfc297;
$gold-dk: #9e8154;
$bone: #F3EFE8;
$blue: #74A3B9;
$blue-2: #b2c6d5;
$sun: #F6C787;
$navy: #0a93bd;
$rose: #bd424e;
$crimson: #860e1f;
$stick-rose: #FBF2ED;
$rose-2: #F1CBB8;
$green-lt: #DFE6D6;
$green-dk: #A5AA93;
$green: #66785E;

// Fonts
$rg: 'Poppins', sans-serif;
$bd: 'PT Serif', serif;

// Media queries
$breakpoints-min: (
  's': 576px,
  'm': 768px,
  'l': 992px,
  'xl': 1470px,
);

$breakpoints-max: ('xs': map-get($breakpoints-min, 's') - 1px,
  's': map-get($breakpoints-min, 'm') - 1px,
  'm': map-get($breakpoints-min, 'l') - 1px,
  'l': map-get($breakpoints-min, 'xl') - 1px,
);

$container-max-widths: ('s': 540px,
  'm': 720px,
  'l': 960px,
  'xl': 1320px,
);
