.site-footer {
  background-color: $white;
  color: $black;
  clear: both;
  display: block;

  a {
    @extend %body-s;
    color: $black;
    text-decoration: none;

    &:hover {
      color: $brand-bg;
    }
  }

  h4 {
    @extend %h3;
  }

  ul {
    padding: 0;
  }

  &__top {
    padding: rem(20px) 0 rem(40px);

    @include from(l) {
      padding: rem(40px) 0;
    }
  }

  &__logo {
    display: block;
    height: rem(95px);
    width: rem(164px);
  }

  &__widget {
    .widget {
      color: $black;

      h2, h3, .widget-title {
        color: $black;
      }

      a {
        color: $black;

        &:hover {
          color: $gold;
        }
      }

      .wp-block-image {

        img {
          display: inline-block;
          max-width: 65%;
          height: auto;
        }
      }

      .menu {
        .menu-item {
          color: $black;
          display: block;
          line-height: 1.4;
          padding: 0;
          text-transform: uppercase;

          &::before {
            display: none;
          }

          i {
            background-color: $text;
            border-radius: 100%;
            color: $white;
            display: inline-block;
            font-size: rem(16px);
            line-height: rem(25px);
            height: rem(25px);
            text-align: center;
            width: rem(25px);
          }

          a {
            @extend %body-s;
            color: $black;
            text-decoration: none;

            &:hover {
              color: $brand-bg;
            }
          }

        }
      }
    }

    .wpcf7-form {
      h2 {
        @extend %h3;
      }

      .wpcf7-list-item {
        margin: 0;
      }

      .wpcf7-form-control-wrap {
        display: block;
        margin-bottom: rem(4px);

        input[type=text], input[type=number], input[type=email] {
          width: 100%;
        }
      }

      br {
        display: none;
      }
    }

    .sub-menu {
      padding: 0;

      > li {
        display: block;
      }
    }
  }
}
