.site-footer {
  background-color: $green_dino;
  box-shadow: 0 0 rem(10px) $grey-lt;
  color: $grey;
  clear: both;
  display: block;

  a {
    @extend %body-s;
    color: $white;
    text-decoration: none;

    &:hover {
      color: $brand-bg;
    }
  }

  h4 {
    @extend %h3;
  }

  ul {
    padding: 0;
  }

  &__top {
    padding: rem(20px) 0 rem(40px);

    @include from(l) {
      padding: rem(40px) 0;
    }
  }

  &__logo {
    display: block;
    height: rem(95px);
    width: rem(164px);
  }

  &__widget {
    .menu {
      .menu-item {
        display: block;
        line-height: 1.4;
        padding: 0;

        &::before {
          display: none;
        }

        i {
          background-color: $text;
          border-radius: 100%;
          color: $white;
          display: inline-block;
          font-size: rem(16px);
          line-height: rem(25px);
          height: rem(25px);
          text-align: center;
          width: rem(25px);
        }
      }
    }

    .wpcf7-form {
      h2 {
        @extend %h3;
      }

      .wpcf7-list-item {
        margin: 0;
      }

      .wpcf7-form-control-wrap {
        display: block;
        margin-bottom: rem(4px);

        input[type=text], input[type=number], input[type=email] {
          width: 100%;
        }
      }

      br {
        display: none;
      }
    }

    .sub-menu {
      padding: 0;

      > li {
        display: block;
      }
    }
  }
}
