.main-menu {
  background-color: $green_dino;
  border-bottom: rem(1px) solid rgba($pink, .6);
  border-top: rem(1px) solid rgba($pink, .7);

  &__logo {
    @include iconBg('../images/brand/logo.svg');
    margin-top: rem(10px);
    height: rem(60px);
    width: rem(120px);

    @include from(l) {
      width: rem(200px);
      height: rem(93px);
    }
  }

  .navbar-toggler-icon i {
    color: $green_dino;
  }

  .menu-menu-principal-container {
    margin-left: auto;
  }
  &__nav {
    margin-left: auto;

    > li {
      @include from (l) {
        margin-left: rem(60px);
      }

      .dropdown-menu {
        background-color: $white;
        border-radius: 0;
        min-width: rem(270px);

        > li {
          display: block;

          a {
            @extend %body;

            color: $brand-bg;
            display: block;
            padding: rem(16px);

            &:hover {
              background-color: $brand-white;
            }

            @include from (l) {
              padding: rem(25px) rem(50px);
            }
          }
        }
      }
    }
  }
  &__link {
    color: $white;
    font-family: $bd;
    font-weight: 900;
    padding: rem(16px);
    text-align: center;

    &:hover {
      color: $yellow;
    }

    @include from(l) {
      text-align: left;
      padding: inherit;
    }
  }
}
