.main-menu {
  background-color: $white;
  border-bottom: rem(1px) solid $gold;
  border-top: rem(1px) solid $gold;

  &__logo {
    @include iconBg('../images/brand/logo.svg');
    width: rem(120px);
    height: rem(106px);

    @include from(l) {
      width: rem(180px);
      height: rem(163px);
      margin: 0 auto rem(20px);
    }
  }

  .menu-menu-principal-container {
    margin-left: auto;
  }

  &__wrapper {
    @include from (l) {
      justify-content: center;
    }
  }

  .navbar-toggler-icon {
    color: $gold;

    i {
      line-height: rem(30px);
    }
  }

  &__nav {
    margin-left: auto;

    > li {
      @include from (l) {
        border-left: rem(1px) solid $gold;
        padding: rem(5px) rem(16px);

        &:first-child {
          border-left: none;
        }
      }

      .dropdown-menu {
        background-color: $grey;
        border-radius: 0;
        min-width: rem(270px);

        > li {
          display: block;

          a {
            @extend %body;

            color: $gold;
            display: block;
            padding: rem(5px) rem(16px);

            &:hover {
              background-color: $black;
            }

            @include from (l) {
              padding: rem(15px) rem(50px);
            }
          }
        }

        li.dropdown {
          &:hover {
            .dropdown-menu {
              display: block;
              position: relative;

              @include from (l) {
                position: absolute;
                left: 80%;
                top: -2%;
              }
            }
          }
        }
      }
    }
  }

  &__link {
    color: $gold-dk;
    padding: rem(16px);
    text-align: center;

    @include from(l) {
      text-align: left;
      padding: inherit;
    }

    &:hover {
      color: $gold;
    }
  }
}
