.card-product {
  background-color: $white;
  box-shadow: 0 0 rem(10px) $rose-2;
  margin-bottom: rem(70px);
  position: relative;
  transition: all .35s ease-in-out;

  $self: &;

  @include from(l) {
    min-height: rem(405px);
  }

  @include from(xl) {
    min-height: rem(445px);
  }

  &__thumbnail {
    @include fluid-aspect(1 1, 'img');

    display: block;
    margin: 0 0 rem(10px);
    overflow: hidden;

    img {
      object-fit: cover;
      object-position: center;
      transition: all 1s ease-in-out;
    }
  }

  &__caption {
    padding: rem(5px) rem(20px) rem(26px);
    text-align: center;

    h2 {
      @extend %h3;

      color: $black;
    }

    .star-rating {
      margin: rem(8px) auto;
    }

    @include from(l) {
      min-height: rem(190px);
      padding-bottom: rem(76px)
    }
  }

  &__title {
    @extend %h3;

    color: $gold-dk;
    text-decoration: none;
  }

  &__price {
    text-align: center;

    &-ammount {
      @extend %h3;

      background-color: $rose-2;
      color: $white;
      display: inline-block;
      padding: rem(5px);
    }

    .price {
      @extend %h3;

      color: $coffee;
    }
  }

  &__ctas {
    @include from(l) {
      bottom: rem(20px);
      left: 0;
      position: absolute;
      width: 100%;
      padding: 0 rem(26px);
    }
  }

  &:hover {
    box-shadow: 0 0 rem(10px) rgba($brand-bg, .05);

    #{$self}__thumbnail {
      img {
        transform: scale(1.1);
      }
    }
  }

  &--home {
    @include from(l) {
      min-height: rem(450px);
    }

    #{$self}__price {
      @include from(l) {
        bottom: rem(20px);
        left: 0;
        position: absolute;
        width: 100%;
      }
    }
  }
}
