button.woocommerce-button {
  background-color: $rose;
  color: $white;
  transition: all .3s ease-in-out;

  &:hover {
    background-color: $black;
  }
}

.button.add_to_cart_button,
.button.product_type_variable.add_to_cart_button {
  background: $gold;
  border: rem(2px) solid $gold;
  color: $white;
  display: block;
  padding: rem(5px);
  transition: all .3s ease-in-out;

  &:hover {
    background-color: $sun;
    color: $brand-bg;
  }
}

.wpcf7-form-control.has-spinner.wpcf7-submit,
.checkout-button.button.alt.wc-forward,
.single_add_to_cart_button.button:not(.disabled) {
  background-color: $rose-2;
  color: $white;
  transition: all .3s ease-in-out;

  &:hover {
    background-color: $coffee;
  }
}

.button {
  display: inline-block;
  padding: rem(10px) rem(16px);

  $self: &;

  &__content {
    @extend %body-btn;

    text-align: center;
  }

  &--outlined {
    background-color: transparent;
    border: rem(2px) solid;
    color: $white;

    #{$self}__content {
      color: $white;
    }
  }
}
